.burner{
  
}
body{
   
    font-family: poppins;
}
#header{
   display: inline; 
   padding: 1200px;
  
}.dot {
    height: 25px;
    width: 25px;
    
    border-radius: 50%;
    display: inline-block;
  }
  .logo{
     position: absolute; 
     left: 100px;
     top: 40px;
     font-style: inherit;
     font-family: ;
  }
  .home{
      position: absolute;
      left: 1000px;
      top: 10px;
    
      
  }
  .offer{
    position: absolute;
      left: 1150px;
      top: 10px;
  }
  .contact{
    position: absolute;
    left: 1300px;
    top: 10px;
  }
  .about{
    position: absolute;
    left: 1450px;
    top: 10px;
  }
  .Icon1{
    position: absolute;
    left: 1600px;
    top: -28px;
    width: 150px;
  }
  .burger1{
    
      width: 950px;
      float: right ;
      height: 1400px;
     
  }
  .dev{
    
    float: left ;
    width: 850px;
    height: 1400px;
    line-height: 150px;
  }
  .caption1{
      width: 1800px;
      padding 100px;
      font-size: 90px;
      text-indent: 85px;
      line-height: 5px;
      
  }
  .caption2{
    width: 1800px;
    padding: 100px;
    font-size: 90px;
    line-height: 5px;
  }
  .caption3{
      
      padding: 90px;
     margin-top: 80px;
     margin-left: -105px;
  }
  .del{
      font-size: 50px;
      padding: 20px;
      line-height: 50px;
      
  }
  .button{
      
      display: inline-block;
  padding: 1.35rem 2.25rem;
  border-radius: 100rem;
  color: #fff;
 
 
 
  }
  .container{
      display: flex;
      flex-direction: row;
      width: 1800px;
      background-color: #E1EBE6;
      padding: 2%;
  }
  #aspect1{
    border: solid;
    width: 30%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 10%;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    font-size: 20px;
    
  }
  #aspect2{
    border: solid;
    width: 30%;
    border-radius: 15px;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 20px;
    
  }
  #aspect3{
    border: solid;
    width: 30%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 10%;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    font-size: 20px;
  }
  .double{
   
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 20px;
    
  }

  .double2{
   
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 20px;
    
  }

  .baga1{
    
    width: 200px;
    height: 75%;
    
  }
  #doble1{
    margin: 30px;
    border-radius: 60px;
    padding: 95px;
    width: 57%;
    font-size: 30px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    
    
  }
  #doble2{
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    margin: 30px;
    padding: 95px;
    border-radius: 60px;
    width: 57%;
    font-size: 30px;
   
  }
  #doble3{
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    margin: 30px;
    padding: 95px;
    border-radius: 60px;
    width: 57%;
    font-size: 30px;

    
  }
  #doble4{
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    padding: 95px;
    margin: 30px;
    border-radius: 60px;
    width: 57%;
    font-size: 30px;
  }
  #doble5{
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    padding: 95px;
    margin: 30px;
    border-radius: 60px;
    width: 57%;
    font-size: 30px;
  }
  #doble6{
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    padding: 95px;
    margin: 30px;
    border-radius: 60px;
    width: 57%;
    font-size: 30px;
  }
 #cost{
  text-align: left;
 }
  .cart{
   display: inline-flex;
    text-align: right;
    align-items: right;
    width: 50px;
    background-color: #E1EBE6;
    
  }
  #cost .cart{
    display: inline;
  }
  .thedd{
    background-color: lightseagreen;
    width: 50%;
    font-size: 100px;
  }


 /** #bg8{
      width: 950px;
      
      padding-bottom: 50px;
      float: right;
      margin-left: 1300px;
      border: solid;
      **/
      
     
  }
 .burgar8{
   background-color: rgb(90, 54, 18);
 }
}
.footer{
  background-color: hotpink;
}
.phone{
  background-color: #F6B400;
}
.prefooter{
  background-color: maroon;
  width: 30px;
}
  /**#aspect1{
     background-color: tomato;
     border: solid;
     height: 20em;
    
     margin: 5%;
     justify-self: center;
     text-align: center;
     margin-top: 15%;
    /**
    
  }
  #aspect2{
    background-color: tomato;
    border: solid;
    
    margin: 7%;
    height: 25em;
   
    margin-bottom: 2000px;
 }
 #aspect3{
    background-color: tomato;
     border: solid;
     height: 20em;
    
     margin: 5%;
     text-align: center;
     margin-top: 15%;

     <img src="images/logo.png" alt="">
        <h4>Burger</h4>
        <h3>
            Sitemap
        </h3>
        <h6>
            Home
            Services
            About
            Contact
        </h6>
        <h3>
            Subscribe to our newsletter
        </h3>
        <button type="submit"></button>
   **/
 
 