
 
 body{
 
 font-family: poppins;

}

}
#header{
display: inline;
padding: 1200px;
}
 .dot {
 height: 25px;
 width: 25px;
  border-radius: 50%;
 display: inline-block;
}
.logo{
  position: absolute;
  left: 100px;
  top: 40px;
  font-style: inherit;
 
}
.home{
   position: absolute;
   left: 1000px;
   top: 10px;
   
}
.home hr{
    width: 60px;
    height: 8px;
    background-color: rgb(224, 91, 39);
}
.offer{
 position: absolute;
   left: 1150px;
   top: 10px;
}
.contact{
 position: absolute;
 left: 1300px;
 top: 10px;
}
.about{
 position: absolute;
 left: 1450px;
 top: 10px;
}
.Icon1{
 position: absolute;
 left: 1600px;
 top: -28px;
 width: 150px;
}

.profile{
    display: flex;
    padding-bottom: 0px;
}
.burger1{
    width: 800px;
   float: right ;
   height: 1100px;
   padding-left: 150px;
 
}
.dev{
  float: left ;
 width: 850px;
 height: 1400px;
 line-height: 150px;
}

.caption1{
   width: 1200px;
   padding: 20px;
   font-size: 90px;
   text-indent: 85px;
   line-height: 5px;
  
}
.caption2{
 width: 1800px;
 padding: 20px;
 font-size: 90px;
 line-height: 5px;
 text-indent: 90px;
}
.caption3{
  
   padding: 90px;
  margin-top: 80px;
  margin-left: -105px;
}
.del{
   font-size: 50px;
   padding: 20px;
   line-height: 50px;
  
}
.delivery{
    font-size: 50px;
    padding: 60px;
    line-height: 50px;
}

button{
  
    
    padding:  30px 55px;
    border-radius: 40px 40px 0px 40px;
    margin-left: 70px;
    background-color: #F6B400;
    border: unset;
    

} 

.burner{
    background: linear-gradient(110deg, #FFFFFF 52%,  #FEC130 52%);
}
 
.burgar-aspects{
    background-color: #E1EBE6;
    clear: both;
    display: flex;
    padding: 100px;
  }
 
  #aspect1{
    border: solid;
    width: 30%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 10%;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    font-size: 20px;
    }
   #aspect2{
    border: solid;
    width: 30%;
    border-radius: 15px;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 20px;
    }
   #aspect3{
    border: solid;
    width: 30%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 10%;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    font-size: 20px;
   
 } 

 .menu{
     text-align: center;
     font-size: 50px;
 }

 .menu hr{
     width: 120px;
     height: 8px;
     background-color:  rgb(224, 91, 39);
 }

 .menu span{
     color: #F6B400;
 }
 .double-burgar1{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 20px;
  }
  
 .double-burgar2{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 20px;
  }
  
 .baga1{
   width: 200px;
  height: 75%;
  }
 #doble1{
  margin: 30px;
  border-radius: 60px;
  padding: 95px;
  width: 57%;
  font-size: 30px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  
 }
 #doble2{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  margin: 30px;
  padding: 95px;
  border-radius: 60px;
  width: 57%;
  font-size: 30px;
 }
 #doble3{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  margin: 30px;
  padding: 95px;
  border-radius: 60px;
  width: 57%;
  font-size: 30px;
  
  }
 #doble4{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  padding: 95px;
  margin: 30px;
  border-radius: 60px;
  width: 57%;
  font-size: 30px;
 }
 #doble5{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  padding: 95px;
  margin: 30px;
  border-radius: 60px;
  width: 57%;
  font-size: 30px;
 }
 #doble6{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  padding: 95px;
  margin: 30px;
  border-radius: 60px;
  width: 57%;
  font-size: 30px;
 }

 .double-burgar1 #cost{
     font-size: 25px;
     float: left;
 }

 .double-burgar2 #cost{
    font-size: 25px;
    float: left;
}

.double-burgar1 .cart{
    font-size: 25px;
    float: right;
  
}

.double-burgar2 .cart{
    font-size: 25px;
    float: right;
    
}

  .record{
  position: relative;
  width: 98ovw;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  
 }
  
 .record > .double{
  position: relative;
  background: #E1EBE6;
  display: flex;
  flex-direction: row;
  height: 70vh;
  
  justify-content: space-evenly;
  align-items: center;
  Background-Color: #E1EBE6;
  
 }
  
 .discover{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F6B400
  
 }
 .sectionB{
  background: rgb(223, 223, 24);
  height: 90vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6B400
 }
  
 
 #subfooter{
     background-color: white;
     display: flex;
     
 }
 .sitemap{
     width: 30%;
     padding: 30px;
     
 }
 #hom{
    width: 30%;
    padding: 30px;
 }
 
#subscriber{
    width: 30%;
    padding: 30px;
}
.Lfooter{
   
    display: flex;
    
}

.Lfooter #photo{
    padding-top: 60px;
   
   
}

#design{
    width: 95%;
    
   
}
#copyright{
    width: 95%;
}

